<html>
<head>
  <title>The Permutator</title>
</head>

<body>

  <header>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/app">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inventario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Preview</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main class="flex-shrink-2 m-5">

    <div class="container text-center">
      
      <div class="row">
      
        <div class="col"></div>

        <div class="col-8">
          <h1 class="mt-5 mb-3">Inventario corrente</h1>
        </div>

        <div class="col"></div>

      </div>

    </div>
  </main>
  
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">vvzen4vmassimi - 2022</span>
    </div>
  </footer>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <script>
    const inputElement = document.getElementById("upload-input");
    const uploadElement = document.getElementById("submit-input");
    const unitChoice = document.getElementById("unit-choice");
    const form = document.forms.namedItem("file-upload-form");

    function getBaseLog(base, y) {
      return Math.log(y) / Math.log(base);
    }

    inputElement.addEventListener("input", handleFiles, false);
    unitChoice.addEventListener("change", handleFiles, false);
    form.addEventListener("submit", uploadFiles);

    function map_range(n, start1, stop1, start2, stop2) {
      return ((n-start1)/(stop1-start1))*(stop2-start2)+start2;
    };

    function handleFiles(){

      // Calculate total size
      let numberOfBytes = 0;
      for (const file of inputElement.files) {
        numberOfBytes += file.size;
      }
      
      if (numberOfBytes == 0){
        document.getElementById("fileSize").textContent = `0`;
        return;
      }

      // Approximate to the closest prefixed unit
      const bytesUnits = [
        "B",
        "KB",
        "MB",
        "GB",
      ];
      const bibytesUnits = [
        "B",
        "KiB",
        "MiB",
        "GiB",
      ];

      const units = unitChoice.value == "bytes" ? bytesUnits : bibytesUnits; 
      const base = unitChoice.value == "bytes" ? 1000 : 1024; 

      let exponent = Math.floor(getBaseLog(base, numberOfBytes))
      exponent = Math.min(exponent, units.length-1);

      const unitToUse = units[exponent];
      const fileSizeInUnit = numberOfBytes / Math.pow(base, exponent); 
      const fileSizeHumanReadable = fileSizeInUnit.toString().slice(0, 4);

      document.getElementById("file-size").textContent = `~${fileSizeHumanReadable} ${unitToUse}`;
      let uploadInfo = document.getElementById("upload-data-info");
      uploadInfo.style.visibility = "visible";
  }
  
  function uploadFiles(event){

    // TODO: Why do we needs these?
    event.preventDefault();
    event.stopPropagation();

    console.log("Started uploading files...");

    // Calculate total size
    const file = inputElement.files[0];
    let totalBytes = file.size;
    
    if (totalBytes <= 0) {
      console.log("Nothing to upload.")
      return;
    }

    let progressDiv = document.getElementById("upload-progress-info");
    progressDiv.style.visibility = "visible";
    let progressText = document.getElementById("upload-progress");
    let progressBar = document.getElementById("upload-progress-bar");
    let finishedSuccessDiv = document.getElementById("upload-finished-success");
    let finishedErrorDiv = document.getElementById("upload-finished-error");

    console.log("File:", file);
    console.log("totalBytes:", totalBytes);

    let formData = new FormData();
    formData.append('content-type', file.type);
    formData.append(file.name, file);

    let request = new XMLHttpRequest();
    function onError(event){
      console.error("Upload errored: ", event);  
      progressDiv.style.visibility = "hidden";
      finishedSuccessDiv.style.visibility = "collapse";
      finishedErrorDiv.style.visibility = "visible";
    }
    function onProgress(event){
      if (event.lengthComputable){
        let progress = map_range(event.loaded, 0, event.total, 0, 100);
        progressBar.ariaValueNow = progress.toString();
        progressBar.style.width = `${progress.toString()}%`;
        if (progress == 100){
          progressText.innerText = `${parseInt(progress).toString()}% - Saving the last few bits..`;
        } 
        else {
          progressText.innerText = `${parseInt(progress).toString()}%, ${event.loaded} of ${event.total} bytes`;
        }
      }
    }
    function onUploadFinished(event){
      progressDiv.style.visibility = "hidden";
      finishedSuccessDiv.style.visibility = "visible";
      finishedText.innerText = "Upload completed!";
    }

    request.upload.addEventListener("error", onError);
    request.upload.addEventListener("progress", onProgress);
    //request.upload.addEventListener("readystatechange", onReadyStateChange);
    request.upload.addEventListener("load", onUploadFinished);

    let endpoint = "/app/upload";
    //let endpoint = "http://localhost:3000/upload";
    console.log("Uploading files to", endpoint);

    request.open("POST", endpoint);
    request.send(formData);
  }

  </script>

</body>

</html>